body{
  font-family: 'Montserrat', sans-serif;
}


.container-img {
    position: relative;
    text-align: center;
    color: white;
    
  }
  
.container-img img{
    -webkit-filter: brightness(65%);
}
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
  }